.title {
    text-align: center;
    font-size: small;
    font-weight: bold;
    /* Center align the title */
    // font-size: medium;
}

.logo-avatar {
    width: 80px;
    /* Adjust the width as needed */
    height: 80px;
    /* Adjust the height as needed */
}