<ion-content>
  <ion-card  *ngIf="countdown != 0">
    <ion-card-header>
      <ion-card-title>
        <ion-grid>
          <ion-row>          
            <ion-col size="12">
              <div class="team-name">Danh sách tham gia đơn nam</div>
            </ion-col>
          </ion-row>
          <ion-row>          
            <ion-col size="12">
              <div class="team-info">12 tay vợt chia làm 2 nhóm A và B</div>
            </ion-col>
          </ion-row>
          <ion-row>          
            <ion-col size="12">
              <div class="team-info">Mỗi nhóm sẽ chia làm 2 bảng (3 tay vợt mỗi bảng thi đấu vòng tròn)</div>
            </ion-col>
          </ion-row>
          <ion-row>          
            <ion-col size="12">
              <div class="team-info">2 tay vợt đứng đẫu mỗi bảng vào đánh bán kết và chung kết tranh giải ở từng nhóm (A và B)</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>          
          <ion-col size="6"> 
            <ion-list>
              <table class="team-members">
                <thead>
                  <tr>
                    <th colspan="3">Danh sách tay vợt nam thuộc nhóm A</th>                  
                  </tr>
                  <tr>
                    <th>#</th>
                    <th>Tên</th>
                    <th>Level</th>                   
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let player of MenPlayersLevelA; let i = index" style="background-color: lightgreen;">
                    <td>{{ i + 1 }}</td>
                    <td>{{player.playerName}}</td>
                    <td>{{player.level}}</td>                   
                  </tr>                  
                </tbody>
              </table>
            </ion-list>
          </ion-col>
          <ion-col size="6"> 
            <ion-list>
              <table class="team-members">
                <thead>
                  <tr>
                    <th colspan="3">Danh sách tay vợt nam thuộc nhóm B</th>                  
                  </tr>
                  <tr>
                    <th>#</th>
                    <th>Tên</th>
                    <th>Level</th>                   
                  </tr>
                </thead>
                <tbody>                 
                  <tr *ngFor="let player of MenPlayersLevelB; let i = index" style="background-color: lightskyblue;">
                    <td>{{ i + 1 }}</td>
                    <td>{{player.playerName}}</td>
                    <td>{{player.level}}</td>                   
                  </tr>
                </tbody>
              </table>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>      
    </ion-card-content>
  </ion-card> 
  <div class="happy-tournament" *ngIf="countdown != 0">
    <span class="btn" (click)="startCountdown()">Chuẩn bị bốc thăm trong {{ countdown }} giây</span>
  </div>
  <ion-card  *ngIf="countdown == 0">
    <ion-card-header>
      <ion-card-title>
        <ion-grid>
          <ion-row>          
            <ion-col size="12">
              <div class="team-name">Kết quả bốc thăm chia nhóm đơn nam</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>          
          <ion-col size="3"> 
            <ion-list>
              <table class="team-members">
                <thead>
                  <tr>
                    <th colspan="3">Nhóm A Bảng A</th>                  
                  </tr>                
                </thead>
                <tbody>
                  <tr *ngFor="let player of teamsToShowAA; let i = index" style="background-color: lightgreen;">
                    <td>{{ i + 1 }}</td>
                    <td>{{player}}</td>                                  
                  </tr>                
                </tbody>
              </table>
            </ion-list>
          </ion-col>   
          <ion-col size="3"> 
            <ion-list>
              <table class="team-members">
                <thead>
                  <tr>
                    <th colspan="3">Nhóm A Bảng B</th>                  
                  </tr>                
                </thead>
                <tbody>
                  <tr *ngFor="let player of teamsToShowAB; let i = index" style="background-color: lightgreen;">
                    <td>{{ i + 1 }}</td>
                    <td>{{player}}</td>                                  
                  </tr>                
                </tbody>
              </table>
            </ion-list>
          </ion-col>           
          <ion-col size="3"> 
            <ion-list>
              <table class="team-members">
                <thead>
                  <tr>
                    <th colspan="3">Nhóm B Bảng A</th>                  
                  </tr>                
                </thead>
                <tbody>
                  <tr *ngFor="let player of teamsToShowBA; let i = index" style="background-color: lightskyblue;">
                    <td>{{ i + 1 }}</td>
                    <td>{{player}}</td>                                  
                  </tr>                
                </tbody>
              </table>
            </ion-list>
          </ion-col>      
          <ion-col size="3"> 
            <ion-list>
              <table class="team-members">
                <thead>
                  <tr>
                    <th colspan="3">Nhóm B Bảng B</th>                  
                  </tr>                
                </thead>
                <tbody>
                  <tr *ngFor="let player of teamsToShowBB; let i = index" style="background-color: lightskyblue;">
                    <td>{{ i + 1 }}</td>
                    <td>{{player}}</td>                                  
                  </tr>                
                </tbody>
              </table>
            </ion-list>
          </ion-col>    
        </ion-row>       
      </ion-grid>      
      <img alt="Silhouette of mountains" src="/assets/images/BannerGiaiTennis.jpg" />
    </ion-card-content>    
  </ion-card> 
</ion-content>
