<ion-content>
  <div class="tournament-bracket">
    <div class="round">
      <div class="match">
        <div class="team">Team A</div>
        <div class="team">Team B</div>
      </div>
      <div class="match">
        <div class="team">Team C</div>
        <div class="team">Team D</div>
      </div>
    </div>
    <div class="round">
      <div class="match">
        <div class="team">Winner 1</div>
        <div class="team">Winner 2</div>
      </div>
    </div>
    <div class="round">
      <div class="match">
        <div class="team">Champion</div>
      </div>
    </div>
  </div>
</ion-content>