<ion-menu contentId="menu-content" menuId="menu-content" side="start">
  <ion-header>
    <ion-toolbar>
      <ion-title color="primary" class="menuTitle">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!-- <ion-list>
      <ion-item detail="true" (click)="loadRoundRobin();">
        <ion-label color="primary">Round Robin</ion-label>
        <ion-icon color="primary" slot="start" name="calendar-outline"></ion-icon>
      </ion-item>
      <ion-item detail="true" (click)="loadPlayOff();">
        <ion-label color="primary">PlayOff</ion-label>
        <ion-icon color="primary" slot="start" name="calendar-outline"></ion-icon>
      </ion-item>
      <ion-item detail="true" (click)="loadTables();">
        <ion-label color="primary">Tables</ion-label>
        <ion-icon color="primary" slot="start" name="football-outline"></ion-icon>
      </ion-item>
      <ion-item detail="true" (click)="loadTablesResult();">
        <ion-label color="primary">Tables Result</ion-label>
        <ion-icon color="primary" slot="start" name="football-outline"></ion-icon>
      </ion-item>
    </ion-list> -->
  </ion-content>
</ion-menu>
